/*選択時のハイライト無効*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

/*スクロールバーの大きさ*/
::-webkit-scrollbar {
  width: 1.25em;
  height: 1.25em;
}

/*縦横のスクロールバーの間*/
::-webkit-scrollbar-corner {
  background: rgba(255, 255, 255, 0.1);
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-left: 0.5px solid rgba(0, 0, 0, 0.1); /* 影 */
}

/*スクロールバーのつまみ*/
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.5);
}

body {
  margin: 0 3rem;
  background-color: #30343f;
  color: #eef3f8;
}

h1 {
  padding: 2rem;
}

hr {
  border-top: 0.15rem solid #e3e3e3;
}

.filelist {
  font-size: 1.2rem;
}

.filelist a {
  color: #eef3f8;
  text-decoration: none;
}

.filelist a:hover {
  color: #eef3f8;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
}

.filelist pre {
  overflow: auto;
  margin: 1em;
  color: #eef3f8;
  white-space: pre-line;
}

.filelist pre > a {
  display: inline-block;
  min-width: 30em;
  height: 1.6rem;
}

.filelist pre > a:first-child {
  opacity: 0.7;
}

/* icons */
.filelist pre > a[href]:before {
  content: "";
  background-size: 1.3em;
  background-position: 0;
  background-repeat: no-repeat;
  padding-right: 0.8rem;
  width: 2.3rem;
  height: 1.6rem;
  line-height: inherit;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  flex-shrink: 0;
}

.filelist pre > a[href]:before {
  background-image: url(../images/icons/file-earmark-fill.svg);
}

.filelist pre > a[href$="/"]:before {
  background-image: url(../images/icons/folder-fill.svg);
}
